<!-- FOOTER -->
<hr>
<footer id="footer" class="footer-minimal bg-white">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<ul class="social-icons social-icons-md text-center m-b-35">
					<li><a href="https://twitter.com/JuliusDewavrin"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/julius-dewavrin-4737b621"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://github.com/Juliusdewavrin"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					<li><a href="https://medium.com/@JuliusD"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 text-center">
				<p class="m-0">Julius Job application at <a href="#">Withings</a>, 2016, All Rights Reserved.</p>
				<p class="m-0">This website and its content is limited to persons with access. </p>

			</div>
		</div>

	</div>
</footer>
<!-- END FOOTER -->
