<h1>CONTACT PAGE</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<section id="banner-contact" class=" navtip module-hero bg-black-alfa-30  color-white parallax " data-background="assets/Sky.jpeg">
  <div class="hero-caption">
  </div>
</section>


<%= image_tag('garden.jpg')%>
