
<!-- WRAPPER -->
<div class="wrapper">

  <!-- HERO -->
  <section id="home" class="module julius-color color-white p-b-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="text-center m-t-20 m-b-40">
            <h1 class="text-300 text-xl">Hi Withings </h1>
            <p class="lead m-b-40">My name is Julius</p>
            <%= link_to "Learn more", profile_path, class:"btn btn-lg btn-circle btn-white" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <%= image_tag('Home_mail.gif') %>
        </div>
      </div>
    </div>
  </section>
  <!-- END HERO -->

<!-- ANALYTICS -->
