
<!-- WRAPPER -->
<div class="wrapper">

  <!-- HERO -->
  <section id="home" class="module bg-brand color-white p-b-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="text-center m-t-20 m-b-40">
            <h1 class="text-300 text-xl">Hi Withings </h1>
            <p class="lead m-b-40">My name is Julius</p>
            <%= link_to "Learn more", profile_path, class:"btn btn-lg btn-circle btn-white" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <%= image_tag('Home_mail.gif') %>
        </div>
      </div>
    </div>
  </section>
  <!-- END HERO -->

  <!-- SERVICES -->
  <section id="services" class="module">
    <div class="container">

      <div class="row multi-columns-row">
        <!-- ICONBOX -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="box-icon-left">
            <div class="icon-box-icon">
              <i class="icon-star icons"></i>
            </div>
            <h4>Awesome Parallax</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna posuere.</p>
          </div>
        </div>
        <!-- END ICONBOX -->

        <!-- ICONBOX -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="box-icon-left">
            <div class="icon-box-icon">
              <i class="icon-cloud-download icons"></i>
            </div>
            <h4>Google Web Fonts</h4>
            <p>In dui magna, posuere eget, vestibulum et, tempor auctor, justo. In ac felis quis tortor malesuada pretium.</p>
          </div>
        </div>
        <!-- END ICONBOX -->

        <!-- ICONBOX -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="box-icon-left">
            <div class="icon-box-icon">
              <i class="icon-paper-clip icons"></i>
            </div>
            <h4>140+ HTML Pages</h4>
            <p>In dui magna, posuere eget, vestibulum et, tempor auctor, justo. In ac felis quis tortor malesuada pretium.</p>
          </div>
        </div>
        <!-- END ICONBOX -->

      </div>

    </div>
  </section>
  <!-- END SERVICES -->
